In [39]:
dict_1={1:105,2:106,3:107,4:108}
result=dict_1.items()
print(result)
del [dict_1[2]]
print(dict_1)

dict_items([(1, 105), (2, 106), (3, 107), (4, 108)])
{1: 105, 3: 107, 4: 108}

In [3]:
#clear()method
text={1:"amay",2:"arjun"}
text.clear()
print("text is :-",text)

text is :- {}

In [6]:
text={
    "name":"raman",
    "add":"ujjain",
    "mob":9893897651
}
text.clear()
print(text)

{}

In [7]:
#copy()method
text={
    "name":"raman",
    "add":"ujjain",
    "mob":9893897651
}
text_2=text.copy()
print(text_2)

{'name': 'raman', 'add': 'ujjain', 'mob': 9893897651}

In [8]:
text={1:"amay",2:"arjun"}
text_2=text.copy()
print(text_2)

{1: 'amay', 2: 'arjun'}

In [11]:
#formkeys()method
seq=(7,8,9,0)
fk=dict.fromkeys(seq,"nothing")
print(fk)

{7: 'nothing', 8: 'nothing', 9: 'nothing', 0: 'nothing'}

In [19]:
seq=["Name","Age","Blood Group"]
dic={}
final_result=dic.fromkeys(seq)
print(final_result)

{'Name': None, 'Age': None, 'Blood Group': None}

In [2]:
seq={"Product","Design","Price"}
final_result=dict.fromkeys(seq)
print(final_result)

{'Price': None, 'Product': None, 'Design': None}

In [3]:
seq={"a","b","c","d"}
list_1=[1,2]
final_result=dict.fromkeys(seq,list_1)
print(final_result)

{'c': [1, 2], 'b': [1, 2], 'a': [1, 2], 'd': [1, 2]}

In [6]:
new_dict=dict.fromkeys(range(4),[])
print(new_dict)

{0: [], 1: [], 2: [], 3: []}

In [5]:
#get()method
car={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
result_1=car.get("brand")
result_2=car.get("year")
print(result_1)
print(result_2)

ford
1964

In [10]:
test={"python":{"is":"best"}}
result=test.get("python").get("is")
print(result)

best

In [15]:
dict_1={1:101,2:102,3:103,4:104}
result=dict_1.get(5,"not found")
print(result)

not found

In [16]:
languages={
    1:"java",
    2:"python",
    3:"php"
}
result=languages.get(1)
print(result)

java

In [23]:
#items()method
car={
    "brand":"ford",
    "model":"mustang",
    "year":1984
}
result=car.items()
print(result)

dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', 1984)])

In [24]:
languages={
    1:"java",
    2:"python",
    3:"php"
}
result=languages.items()
print(result)

dict_items([(1, 'java'), (2, 'python'), (3, 'php')])

In [38]:
dict_1={1:105,2:106,3:107,4:108}
result=dict_1.items()
print(result)
del [dict_1[2]]
print(dict_1)

dict_items([(1, 105), (2, 106), (3, 107), (4, 108)])
{1: 105, 3: 107, 4: 108}

In [42]:
fruits={
    "a":"mango",
    "b":"apple",
    "c":"grapes"
}
out=fruits.items()
print(out)
fruits["c"]="kivi"
print(fruits)

dict_items([('a', 'mango'), ('b', 'apple'), ('c', 'grapes')])
{'a': 'mango', 'b': 'apple', 'c': 'kivi'}

In [46]:
#keys()method
fruits={
    "a":"mango",
    "b":"apple",
    "c":"grapes"
}
result=fruits.keys()
print(result)

dict_keys(['a', 'b', 'c'])

In [55]:
dict_1={
    "A":"python",
    "B":"is",
    "C":"best"
}
output=dict_1.keys()
print(output)

dict_keys(['A', 'B', 'C'])

In [56]:
car = {
  "brand": "Ford",
  "model": "Endevour",
  "year": 1964
}
result=car.keys()
print(result)

dict_keys(['brand', 'model', 'year'])

In [57]:
dict_1={1:101,2:102,3:103,4:104}
result=dict_1.keys()
print(result)

dict_keys([1, 2, 3, 4])

In [62]:
#pop()method
data={
    "Mahindra":"Scorpio",
    "Toyota":"Fortuner",
    "Ford":"Endevour"
}
data.pop("Ford")

print(data)

{'Mahindra': 'Scorpio', 'Toyota': 'Fortuner'}

In [64]:
students={
    "rahul":1,
    "vijay":4,
    "priyanshu":5,
    "sachin":7
}
students.pop("sachin")
print(students)

{'rahul': 1, 'vijay': 4, 'priyanshu': 5}

In [65]:
roll_no={
    101:"abhi",
    102:"chintu",
    103:"manglu",
    104:"bhupendra"
}
roll_no.pop(103)
print(roll_no)

{101: 'abhi', 102: 'chintu', 104: 'bhupendra'}

In [67]:
data={
    "name":"ajay",
    "add":"krishna nagar",
    "mob":9898969495
}
data.pop("mob")
print(data)

{'name': 'ajay', 'add': 'krishna nagar'}

In [69]:
#popitem()method
data={
    "name":"ajay",
    "add":"krishna nagar",
    "mob":9898969495
}
data.popitem()
print(data)

{'name': 'ajay', 'add': 'krishna nagar'}

In [72]:
students={
    "rahul":1,
    "vijay":4,
    "priyanshu":5,
    "sachin":7
}
students.popitem()
print(students)

{'rahul': 1, 'vijay': 4, 'priyanshu': 5}

In [73]:
dict_1={1:908,2:654,3:321,4:852}
dict_1.popitem()
print(dict_1)

{1: 908, 2: 654, 3: 321}

In [74]:
data={
    "Mahindra":"Scorpio",
    "Toyota":"Fortuner",
    "Ford":"Endevour"
}
data.popitem()
print(data)

{'Mahindra': 'Scorpio', 'Toyota': 'Fortuner'}

In [10]:
#update()method
detail={
    'roll': 1005, 
    'name': 'kamal', 
    'bord': 'mp bord'
}
detail.update(name="manan")
print(detail)

{'roll': 1005, 'name': 'manan', 'bord': 'mp bord'}

In [31]:
data={
    "Mahindra":"Scorpio",
    "Toyota":"Fortuner",
    "Ford":"Endevour"
}
data.update(Mahindra="Thar")
print(data)

{'Mahindra': 'Thar', 'Toyota': 'Fortuner', 'Ford': 'Endevour'}

In [44]:
dict_1={1:"abc",2:"def",3:"ghi",4:"jkl"}
dict_2={5:"ynk",6:"zxl"}
dict_1.update(dict_2)
print(dict_1)

{1: 'abc', 2: 'def', 3: 'ghi', 4: 'jkl', 5: 'ynk', 6: 'zxl'}

In [17]:
detail={
    'roll': 1005, 
    'name': 'kamal', 
    'bord': 'mp bord'
}
detail.update(percent="75%")
print(detail)

{'roll': 1005, 'name': 'kamal', 'bord': 'mp bord', 'percent': '75%'}

In [26]:
data={
    "branch":"cs",
    "year":"1st",
    "sem":"2nd"
}
data.update(sem="4th")
print(data)

{'branch': 'cs', 'year': '1st', 'sem': '4th'}

In [28]:
#values()method
data={
    "branch":"cs",
    "year":"1st",
    "sem":"2nd"
}
new_data=data.values()
print(new_data)

dict_values(['cs', '1st', '2nd'])

In [29]:
detail={
    'roll': 1005, 
    'name': 'kamal', 
    'bord': 'mp bord'
}
out=detail.values()
print(out)

dict_values([1005, 'kamal', 'mp bord'])

In [32]:
car = {
  "brand": "Ford",
  "model": "Endevour",
  "year": 1964
}
x=car.values()
car["year"]=1980
print(x)

dict_values(['Ford', 'Endevour', 1980])

In [35]:
salary={"raj":50000,"anik":45000,"dev":70000}
total=salary.values()
print(sum(total))

165000

In [42]:
#setdefault()method
data={
    "branch":"cs",
    "year":"1st",
    "sem":"2nd"
}
data.setdefault("branch","maths")
print(data)

{'branch': 'cs', 'year': '1st', 'sem': '2nd'}

In [2]:
student={
    "name":"rahul",
    "age":24,
    "grade":"c"
}
out=student.get("name")
print(out)

rahul

In [3]:
student={
    "name":"rahul",
    "age":24,
    "grade":"c"
}
out=student["name"]
print(out)

rahul

In [5]:
student={
    "name":"rahul",
    "age":24,
    "grade":"c"
}
student["grade"]="a"
print(student)

{'name': 'rahul', 'age': 24, 'grade': 'a'}

In [6]:
student={
    "name":"rahul",
    "age":24,
    "grade":"c"
}
student.pop("age")
print(student)

{'name': 'rahul', 'grade': 'c'}

In [7]:
student={
    "name":"rahul",
    "age":24,
    "grade":"c"
}
new=student.copy()
print(new)

{'name': 'rahul', 'age': 24, 'grade': 'c'}

In [8]:
student_copy={
    "name":"rahul",
    "age":24,
    "grade":"c"
}
list1=list(student_copy.values())
print(list1)

['rahul', 24, 'c']

In [ ]:
Create a new dictionary high_marks with only the key-value pairs where the value is greater than 90, 
Print the new dictionary.
Access and print the author of the book in the book_info nested dictionary.

In [13]:
score={
    "marks1":77,
    "marks2":90,
    "marks3":98
}
higher_score={key:value for key,value in score.items() if value > 90}
print(higher_score)
book_info={
    "title":"abc",
    "name":"jkl",
    "price":100
}
result=book_info["name"]
print(result)
score.setdefault("marks4",99)
print(score)

{'marks3': 98}
jkl
{'marks1': 77, 'marks2': 90, 'marks3': 98, 'marks4': 99}